extends base
block content
    ul.breadcrumb
    .page-content-wrap
    .row
      .col-md-12
        form.form-horizontal(role='form',method='post' action='/steam_cost/add')
          .panel.panel-default
            .panel-heading
              h3.panel-title
                strong Add Steam Cost
              ul.panel-controls
            .panel-body
            .panel-body
              .form-group
                label.col-md-3.col-xs-12.control-label Water Cost
                .col-md-6.col-xs-12
                  .input-group
                    span.input-group-addon
                      span.fa.fa-pencil
                    input.form-control(type='text',id="water_cost",name="water_cost",placeholder="Bhat/m3")
                  span.help-block
              .form-group
                label.col-md-3.col-xs-12.control-label Fuel Cost
                .col-md-6.col-xs-12
                  .input-group
                    span.input-group-addon
                      span.fa.fa-pencil
                    input.form-control(type='text',id="fuel_cost",name="fuel_cost",placeholder="Bhat/Kg")
                  span.help-block
              .form-group
                label.col-md-3.col-xs-12.control-label Electrical Cost
                .col-md-6.col-xs-12
                  .input-group
                    span.input-group-addon
                      span.fa.fa-pencil
                    input.form-control(type='text',id="electric_cost",name="electric_cost",placeholder="Bhat/Kwh")
                  span.help-block
              .form-group
                label.col-md-3.col-xs-12.control-label Chemical Cost
                .col-md-6.col-xs-12
                  .input-group
                    span.input-group-addon
                      span.fa.fa-pencil
                    input.form-control(type='text',id="chemical_cost",name="chemical_cost",placeholder="Bhat/m3")
                  span.help-block

            .panel-footer
              button.btn.btn-default Clear Form
              button.btn.btn-primary.pull-right Submit
    #mb-signout.message-box.animated.fadeIn(data-sound='alert')
        .mb-container
          .mb-middle
            .mb-title
              span.fa.fa-sign-out
              |  Log 
              strong Out
              |  ?
            .mb-content
              p Are you sure you want to log out?
              p Press No if you want to continue work. Press Yes to logout current user.
            .mb-footer
              .pull-right
                a.btn.btn-success.btn-lg(href='pages-login.html') Yes
                button.btn.btn-default.btn-lg.mb-control-close No

